<!-- parking_app/templates/base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy4rUuSrtCZ9Z6K3ccE2OOl8IcDl5" crossorigin="anonymous">

  <title>Parking Management</title>
</head>
<body>

<nav>
    <ul>
        <li><a href="{% url 'main' %}">Main Page</a></li>
        <li><a href="{% url 'reserved_places' %}">Reserved Places</a></li>
        <li><a href="{% url 'static_page' %}">Statistics Page</a></li>
        <!-- Add more menu items as needed -->
    </ul>
</nav>

<div>
    {% block content %}{% endblock %}
</div>

</body>
</html>
