<!-- parking_app/templates/reserved_places.html -->

{% extends 'base.html' %}

{% block content %}

    
   
    <div class="container">
      <h1>Parking Places</h1></br>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Reserved By</th>
          <th>Date Reserved</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for place in places %}
          <tr>
            <td>{{ place.name }}</td>
            <td>   
               {% if place.is_available %}
               {% else %}
               {{ place.reserved_by_user.name }}

              {% endif %}
              
            </td>
            <td>
              {% if place.is_available %}
              {% else %}
              {{ place.date_reserved }}
              {% endif %}
            </td>
            <td>
              {% if place.is_available %}
              <a href="" class="btn btn-success">Available</a>
              {% else %}
              <a href="{% url 'clear_place' place.id %}" class="btn btn-danger">Clear</a>
              {% endif %}

            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
