<!-- parking_app/templates/static_page.html -->

{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>Total Place</th>
          <th>Available Places</th>
          <th>Reserved Places</th>
          <th>Total users</th>
        </tr>
      </thead>
     <tbody>
   
          <tr>
            <td>
              <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-body">
                  <h4 class="card-title">{{ total_places }}</h4>
                </div>
              </div>
            </td>
            <td>
              <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-body">
                  <h4 class="card-title">{{ available_places }}</h4>
                </div>
              </div>
            </td>
            <td>
              <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-body">
                  <h4 class="card-title">{{ reserved_places }}</h4>
                </div>
              </div>
            </td>
            <td>
              <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-body">
                  <h4 class="card-title">{{ total_users }}</h4>
                </div>
              </div>
            </td>
            <td>
      
          </tr>
     
      </tbody>
    </table>

    <hr>
    <h3 class="mt-4">All Places in Parking</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>isAvailable</th>
          <th>Reserved By</th>
          <th>Date Reserved</th>
        </tr>
      </thead>
     <tbody>
        {% for place in reserved_places_ %}
          <tr>
            <td>{{ place.name }}</td>
            <td>{{ place.is_available }}</td>
            <td>{{ place.reserved_by_user.name }}</td>
            <td>{{ place.date_reserved }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
