<!-- parking_app/templates/static_page.html -->

{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h2 class="mt-4">Parking Statistics</h2>
    <p>Total Places: {{ total_places }}</p>
    <p>Available Places: {{ available_places }}</p>
    <p>Reserved Places: {{ reserved_places }}</p>
    <p>Total Users: {{ total_users }}</p>
    <hr>
    <h3 class="mt-4">All Places in Parking</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>isAvailable</th>
          <th>Reserved By</th>
          <th>Date Reserved</th>
        </tr>
      </thead>
     <tbody>
        {% for place in reserved_places_ %}
          <tr>
            <td>{{ place.name }}</td>
            <td>{{ place.is_available }}</td>
            <td>{{ place.reserved_by_user.name }}</td>
            <td>{{ place.date_reserved }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
