<!-- parking_app/templates/static_page.html -->

{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>Total Place</th>
          <th>Available Places</th>
          <th>Reserved Places</th>
          <th>Total users</th>
        </tr>
      </thead>
     <tbody>
   
          <tr>
            <td>
              <div class="card text-white bg-primary mb-3" >
                <div class="card-body">
                  <h4 class="card-title">{{ total_places }}</h4>
                </div>
              </div>
            </td>
            <td>
              <div class="card text-white bg-primary mb-3" >
                <div class="card-body">
                  <h4 class="card-title">{{ available_places }}</h4>
                </div>
              </div>
            </td>
            <td>
              <div class="card text-white bg-primary mb-3" >
                <div class="card-body">
                  <h4 class="card-title">{{ reserved_places }}</h4>
                </div>
              </div>
            </td>
            <td>
              <div class="card text-white bg-primary mb-3" >
                <div class="card-body">
                  <h4 class="card-title">{{ total_users }}</h4>
                </div>
              </div>
            </td>
            <td>
      
          </tr>
     
      </tbody>
    </table>

    <hr>
    <h3 class="mt-4">All User in Parking</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Number Phone</th>
          <th>Action</tr>
        </tr>
      </thead>
     <tbody>
        {% for user in users %}
          <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.phone_number }}</td>
            <td>              
              <a href="{% url 'delete_user' user.id %}" class="btn btn-danger">delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
